div.swiper-button-prev {
  left: 10%;
}

div.swiper-button-next {
  right: 10%;
}

@media (max-width: 768px) {
  div.swiper-button-prev,
  div.swiper-button-next {
    display: none;
  }
}

div.swiper-button-prev::after,
div.swiper-button-next::after {
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
}

.swiper-pagination-bullet-active {
  background-color: #18a0fb;
}
