@keyframes ldio-0pdomtc9psya-r {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.2 0 0.8 0.8);
  }
  50% {
    animation-timing-function: cubic-bezier(0.2 0.2 0.8 1);
  }
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ldio-0pdomtc9psya-s {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.2 0 0.8 0.8);
  }
  50% {
    animation-timing-function: cubic-bezier(0.2 0.2 0.8 1);
  }
  0% {
    transform: translate(-24.48px, -24.48px) scale(0);
  }
  50% {
    transform: translate(-24.48px, -24.48px) scale(1);
  }
  100% {
    transform: translate(-24.48px, -24.48px) scale(0);
  }
}
.ldio-0pdomtc9psya > div {
  transform: translate(0px, -12.24px);
}
.ldio-0pdomtc9psya > div > div {
  animation: ldio-0pdomtc9psya-r 1s linear infinite;
  transform-origin: 102px 102px;
}
.ldio-0pdomtc9psya > div > div > div {
  position: absolute;
  transform: translate(102px, 87.312px);
}
.ldio-0pdomtc9psya > div > div > div > div {
  width: 48.96px;
  height: 48.96px;
  border-radius: 50%;
  background: #93dbe9;
  animation: ldio-0pdomtc9psya-s 1s linear infinite;
}
.ldio-0pdomtc9psya > div > div:last-child {
  animation-delay: -0.5s;
}
.ldio-0pdomtc9psya > div > div:last-child > div > div {
  animation-delay: -0.5s;
  background: #689cc5;
}
.loadingio-spinner-interwind-wokxo2goub {
  width: 204px;
  height: 204px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-0pdomtc9psya {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-0pdomtc9psya div {
  box-sizing: content-box;
}
